/*
 * The field 'font-display' is added for Google-fonts.
 *
 * See: <https://fonts.google.com/>
 */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@400;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'D2 coding';
  font-style: normal;
  font-weight: 400;
  src: url('D2Coding.eot');
  src: local('※'), local('D2Coding'),
       url('D2Coding.eot?#iefix') format('embedded-opentype'),
       url('D2Coding.woff2') format('x-woff2'),
       url('D2Coding.woff') format('woff'),
       url('D2Coding.ttf') format('truetype'),
       url('D2Coding.svg') format('svg');
}
@font-face {
  font-family: 'D2 coding';
  font-style: normal;
  font-weight: 700;
  src: url('d2codingbold.eot');
  src: local('※'), local('D2Coding Bold'),
       url('D2CodingBold.eot?#iefix') format('embedded-opentype'),
       url('D2CodingBold.woff2') format('x-woff2'),
       url('D2CodingBold.woff') format('woff'),
       url('D2CodingBold.ttf') format('truetype'),
       url('D2CodingBold.svg') format('svg');
}
